html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  a, a:hover {
    text-decoration: none;
    color: inherit;
  }
  header{
    min-height: 100vh;
  }
  header nav {
    background-color: rgb(167, 153, 153);
    box-shadow: 1px 1px 10px #111111;
  }
  header .nav-link:hover {
    opacity:0.3;
  }
  header span.text-white {
    background-color: rgba(24, 23, 23, 0.884);
  }
  header span.text-white:hover {
    background-color: rgba(196, 107, 238, 0.932);
    color: #111111;
  }
  header .span-nav{
    background-color: rgba(102, 101, 101, 0.705);
  }
  header .text-autora {
    font-size: 35px;
  }
  header .row-size {
    min-height: 80vh;
  }
  header .row-size h1 {
    width: 500px
  }
  header .text-autora{
    max-width: 200px;
  }
  header .logo-img {
    max-width: 260px;
    height: 130px;
  }
  .progress-bar {
    text-align: left;
    padding-left: 5px;
    background-color: rgba(196, 107, 238, 0.932);
    color: #111111;
   }
   .progress{
     margin: 10px;
   }
  .portfolio .col {
    padding: 0;
    background: black;
    position: relative;
    cursor:pointer;
  }
  .portfolio .portfolio-img {
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
    opacity: 0.95;
  }
  .portfolio .portfolio-hover {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.856);
  }
  .portfolio .portfolio-hover a {
    font-size: 30px;
    text-decoration:none;
    border: 1px solid rgba(245, 248, 245, 0.774);
    border-radius: 100%;
    padding: .1em .5em ;
   
    
  }
  .portfolio .portfolio-hover a:hover {
    transform:scale(1.4);
    
    transition: all .5s;
  }
  .portfolio .col:hover .portfolio-hover {
    opacity: 1;
    transition: 0.3s;
  }
  /* #contato {
    margin-top: 50px;
    min-height: 60vh;
  }
  .contato p {
    margin-top: 50px;
  }
  .form-contato {
    width: 65%;
    margin: 0 auto;
  } */
  span.error {
    color: rgba(199, 50, 50, 0.842);
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 1px;
  }

  footer{
    display: flex !important;
    align-items: center !important;
    margin-top: 150px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#87378fbe), to(#eb4daf9f));
    background-image: linear-gradient(#87378fbe, #eb4daf9f);
  }
  
  footer img {
      cursor: pointer !important;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
  }

  footer i{
    margin: 3px;
    font-size: 28px;
    color: black;
  }
  footer i:hover{
    opacity: 0.5;
  }
  
  
  #arrowTop {    
    color: #211c24d2;
    position: fixed;
    top: 5%;
    right: 2%;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
  }
  #arrowTop::before {
  content: hidden;
  }
  #arrowTop:hover {
    color: rgb(50, 48, 51);
    transition: 0.3s;
  }
   .sobre-show {
     opacity:1;
     transition: all 1.5s;
   }
  .portfolio-rowBottom-hidden{
    opacity:0;
    margin-top: 500px;
  }
  .portfolio-rowMiddle-hidden {
    opacity:0;
    margin-left:-900px;
  }
  .portfolio-rowTop-hidden {
    opacity:0;
    margin-bottom: -600px;
  }
  
  .portfolio-rowBottom-show{
    opacity:1;
    transition: all .8s;
  }
  .portfolio-rowMiddle-show {
    opacity:1;
    transition: all .8s;
  }
  .portfolio-rowTop-show {
    opacity:1;
     transition: all .8s;
  }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #87378fbe;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
   box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
}

.navbar_script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#87378fbe), to(#eb4daf9f));
  background-image: linear-gradient(#87378fbe, #eb4daf9f);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
          box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.navbar-logo img {
  height: 60px;
  width: 150px;
  margin: 5px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35em;
}

.list-item {
  font-family:  monospace;
  font-size: 1.5rem;
  color: #ffffff;
  list-style: none;
  margin-top: 5px;
}

.list-item:hover {
  color: rgba(196, 107, 238, 0.932);;
}

/*nav responsive */
.nav-mobile {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 1em;
  }
  .navbar_script {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 10vh;
    padding: 1em;
  }
  .nav-mobile {
    display: inline-block;
  }
  .menu-list {
    display: none;
  }
  .navbar-logo {
    position: absolute;
    left: 40em;
  }
  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* esconde o input falso */
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #0e0d0d;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-1px, -2px);
            transform: rotate(45deg) translate(-1px, -2px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
  .burguer-menu-list {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #9b5d5d94;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .list-item {
    padding: 10px 0;
    font-size: 22px;
  }
  ul a:hover {
    background-color: #9b5d5d94;
    width: 100%;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 720px) {
  .navbar-logo {
    display: none;
  }
}

/* nav dropdonw*/
.dropbtn {
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: #e07070;
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}