body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #474646;
}

.navegacao {
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.3px 7px -2px gray;
}
.navegacao__imagem {
    width: 150px;
}

.navegacao__lista{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navegacao__lista li {
    padding: 13px;
}
.imagem__pesquisa {
    width: 20px;
    }

.navegacao__botoes{
        justify-content: right;
        align-items: center;
    }

.navegacao__botao{
        background-color: transparent;
        padding: 20px;
        border: none;
        font-size: 12px;
        justify-content: right;
        padding: 5px;

    }

.navegacao__botao--roxo {
        color: #ffffff;
        background-color: #9776f4;
        border: 2px solid #9776f4;
        border-radius: 3px;
        height: 35px;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conteudo__texto {
        padding: 150px;
    }

    .conteudo__botao_play{
        background-color: transparent;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #adabab;
        text-decoration: none;
        font-weight: bold;
        margin: 0 15px;
    }

    .conteudo__botao--rosa{
        background-color: #e91e63;
        color: #ffffff;
        padding: 10px;
        border: none;
        font-weight: bold;
        border-radius: 5%;
    }

    .slogan {
        text-align: center;
        font-size: 1.5em;
        margin: 50px;
        font-weight: bold;
        color: #474646;
    }

    .artigos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 100px 100px;
    }


    .nome_depoimento {
        margin: 0;
        font-size: 20px;
        border-bottom: 2px solid #934af4;
        width: 200px;
    }

    .depoimentos {
        width: 280px;
    }

    .rodape {
        width: 100vw;
        text-align: center;
        background-color: #e91e62a8;
        padding: 5px 0;
    }
